/* global styles */
:root {
  --dark-text-color: #34373d;
  --header-color: #0078d7;
  --header-btn-hover-color: #0a528d;
  --icon-color: #3e69e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--dark-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
.header {
  background: var(--header-color);
  color: #fff;
  height: 48px;
  display: flex;
}

.header-left-region {
  width: 48px;
  height: 48px;
}

.header-left-region .btn-main-menu {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.header-center-region {
  /* width: calc(100vw - 96px); */
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-center-region .home-link {
  font-size: 18px;
  color: #fff;
  margin-left: 5px;
  flex: 0 0 60px;
}

.header-center-region .search-form {
  display: flex;
  height: 32px;
  background: #fff;
  flex: 0 1 400px;
}

.header-center-region .search-form .search-icon,
.header-center-region .search-form .btn-delete {
  flex: 0 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-center-region .search-form .search-input {
  flex: 1;
  border: none;
  outline: none;
}

.header-center-region .menu-buttons {
  flex: 0 0 144px;
  display: flex;
}

.header-center-region .menu-buttons .menu-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.header-center-region .menu-buttons .menu-button:hover {
  background: var(--header-btn-hover-color);
}

.header-center-region .menu-buttons .menu-button .new-count {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 10px;
  background: #0f3a5e;
  border-radius: 50%;
}

.header-right-region {
  width: 48px;
  height: 48px;
}

.header-right-region .btn-user {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left-region .btn-main-menu:hover,
.header-right-region .btn-user:hover {
  background: var(--header-btn-hover-color);
}

.header-right-region .btn-user .user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #999;
}

.container {
  display: flex;
  height: calc(100vh - 48px);
}

/* sidebar */
.sidebar {
  width: 290px;
  background: #f4f4f4;
  border-right: 1px solid #eaeaea;
}

.sidebar-header {
  height: 48px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 0 4px;
}

.sidebar-header .btn-menu {
  width: 36px;
  height: 36px;
  padding: 4px;
  font-size: 20px;
  color: var(--icon-color);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar-header .btn-menu:hover {
  background: #fcfcfc;
  border: 1px solid #eaeaea;
}

.sidebar-content {
  height: calc(100% - 108px);
}

.sidebar-content-menu {
  padding-top: 8px;
}

.sidebar-content-menu-item {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  position: relative;
  cursor: pointer;
}

.sidebar-content-menu-item.weight {
  background: #ededed;
}

.sidebar-content-menu-item:hover {
  background: #fcfcfc;
}

.sidebar-content-menu-item.weight:hover {
  background: #ededed;
}

.sidebar-content-menu-item .icon-menu {
  font-size: 16px;
  margin-right: 4px;
}

.sidebar-content-menu-item .title-menu {
  font-size: 16px;
}

.sidebar-content-menu-item .count {
  position: absolute;
  right: 12px;
}

.sidebar-content .add-list {
  margin-top: 16px;
  height: 36px;
  padding: 0 12px;
  color: var(--icon-color);
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar-content .add-list-icon {
  font-size: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.sidebar-content .add-list-input {
  background: transparent;
  font-size: 16px;
  margin-left: 8px;
  border: none;
  outline: none;
}

.sidebar-content .add-list-input::placeholder {
  color: var(--icon-color);
}

.sidebar-content .btn-create-group {
  position: absolute;
  right: 1px;
  font-size: 18px;
  color: var(--icon-color);
  height: 36px;
  width: 40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar-content .btn-create-group:hover {
  background: #fcfcfc;
}

.btn-create-group .create-group-icon .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #fff;
  color: var(--dark-text-color);
  text-align: center;
  font-size: 12px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: -35px;
  top: -30px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.btn-create-group:hover .create-group-icon .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.sidebar-footer {
  height: 48px;
  border-top: 1px solid #eaeaea;
}

.sidebar-footer .office-apps {
  display: flex;
  height: 100%;
}

.sidebar-footer .office-app {
  flex: 1;
  /* cursor: pointer; */
}

.sidebar-footer .office-app a {
  color: var(--dark-text-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-footer .office-app a:hover {
  background: #e7e7e7;
}

/* main */
.main {
  flex: 1;
}

/* tasks-tool-bar */
.tasks-tool-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.tasks-tool-bar-headline {
  display: flex;
  align-items: center;
}

.tasks-tool-bar-headline .text {
  color: var(--icon-color);
  font-size: 20px;
  font-weight: bold;
}
.tasks-tool-bar-headline .btn-more {
  height: 32px;
  width: 34px;
  padding: 4px 8px;
  margin-left: 5px;
  background: transparent;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.tasks-tool-bar-headline .btn-more:hover {
  background: #eee;
}
.tasks-tool-bar-headline .btn-more .icon {
  color: #888;
}

.tasks-tool-bar-right {
}

.tasks-tool-bar-right .btn-sort {
  height: 32px;
  background: transparent;
  color: var(--icon-color);
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.tasks-tool-bar-right .btn-sort:hover {
  background: #eee;
}

.up-down-icon {
  display: inline-block;
  transform: rotate(90deg);
  margin-right: 4px;
}

.tasks-container {
  margin: 0 24px;
}

/* add-todo */
.add-todo {
  height: 51px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.add-todo-icon {
  font-size: 16px;
  color: var(--icon-color);
  cursor: pointer;
}

.add-todo-input {
  font-size: 16px;
  margin-left: 16px;
  border: none;
  outline: none;
}
.add-todo-input::placeholder {
  color: var(--icon-color);
}

.task-card {
  height: 52px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task-card-icon {
  font-size: 20px;
}

.task-card-text {
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
}

.task-list {
}

/* task */
.task-list .task-item {
  position: relative;
  height: 52px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.task-list .task-item:hover {
  background-color: #eee;
}

.task-item-icon {
  color: var(--icon-color);
  font-size: 18px;
}

.task-item-text {
  margin-left: 16px;
  font-size: 14px;
}

.task-item .icon-star {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.task-item .icon-star .tooltip-text,
.task-item-icon .tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #fff;
  color: var(--dark-text-color);
  text-align: center;
  font-size: 12px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: -30px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.task-item-icon .tooltip-text {
  width: 140px;
  left: -50px;
  top: -18px;
}

.task-item .icon-star:hover .tooltip-text,
.task-item-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.task-item .icon-star.checked {
  color: var(--icon-color);
}

.completed .task-item-text {
  text-decoration: line-through;
}

/* background-lines */
.background-lines {
  height: calc(100% - 631px);
  margin: 0 24px;
  background: linear-gradient(
    180deg,
    white,
    white 52px,
    #e5e5e5 52px,
    #e5e5e5 52px
  );
  background-size: 100% 53px;
}
